.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  background-size: contain;
  background-color: transparent;
  align-self: center;
  padding: 0;
  margin-left: 18px;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity linear 0.1s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}
