/* Fonts */

/* Page */

.page {
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #000;
  max-width: 880px;
  min-width: 320px;
}

/* Header */

.header {
  padding-top: 45px;
  min-height: 74px;
  box-sizing: content-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
    min-height: 56px;
  }
}

.header__logo {
  width: 142px;
  height: 33px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}

/* Profile */

.profile {
  padding-top: 40px;
  min-height: 120px;
  display: flex;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile {
    padding-top: 42px;
    flex-direction: column;
  }
}

.profile__avatar {
  max-width: 120px;
  height: 100%;
  border-radius: 50%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__avatar {
    margin: auto;
  }
}

.profile__info {
  position: relative;
  margin: auto 0;
  padding-left: 30px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__info {
    margin: auto;
    padding: 0;
  }
}

.profile__name {
  margin: 0;
  padding-bottom: 16px;
  color: #fff;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__name {
    padding-top: 26px;
    padding-bottom: 14px;
    padding-left: 18px;
    font-size: 27px;
    line-height: 32.68px;
    text-align: center;
  }
}

.profile__profession {
  margin: 0;
  color: #fff;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__profession {
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
  }
}

.profile__edit-button {
  position: absolute;
  top: 15px;
  right: -42px;
  background-image: url(images/edit-button.png);
  background-size: contain;
  background-color: transparent;
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity linear 0.1s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}

.profile__add-button {
  background-image: url(images/add.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  padding: 25px 75px;
  border: 2px solid #fff;
  margin-left: auto;
  align-self: center;
  cursor: pointer;
  transition: opacity linear 0.1s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__add-button {
    padding: 25px 141px;
    margin: 36px auto;
  }
}

/* Cards */

.cards {
  margin-top: 50px;
  padding: 1px 0;
  display: grid;
  column-gap: 17px;
  row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 2fr);
}

@media (min-width: 320px) and (max-width: 767px) {
  .cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

.card {
  max-width: 282px;
  max-height: 361px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) and (max-width: 767px) {
  .card {
    margin: 0 auto;
  }
}

.card__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card__name {
  display: flex;
  justify-content: space-between;
  min-height: 79px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.card__title {
  margin: auto 0;
  padding-left: 21px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
}

.card__button {
  margin: auto 20px;
  padding: 0;
  background-image: url(images/like.png);
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: opacity linear 0.1s;
}

.card__button_active {
  background-image: url(images/like-active.png);
}

.card__button:hover {
  opacity: 0.5;
}

/* Footer */

.footer__copyright {
  margin: 66px 0 60px;
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__copyright {
    margin: 48px 0 36px;
    padding-left: 19px;
    font-size: 14px;
    line-height: 16.94px;
  }
}

/* Pop-up */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup_opened {
  display: flex;
}

.popup__container {
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 37px 36px;
  margin: auto;
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) and (max-width: 767px) {
  .popup__container {
    padding: 25px 22px;
    width: 282px;
    min-height: 322px;
  }
}

.popup__heading {
  margin: 0 0 48px 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .popup__heading {
    margin: 0 0 75px 0;
    font-size: 18px;
    line-height: 22px;
  }
}

.popup__submit {
  margin-top: 48px;
  padding: 0;
  height: 50px;
  width: 100%;
  background-color: #000;
  border: none;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity linear 0.2s;
}

.popup__submit:hover {
  opacity: 0.8;
}

@media (min-width: 320px) and (max-width: 767px) {
  .popup__submit {
    margin-top: 45px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(images/close.png);
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  transition: opacity linear 0.2s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (min-width: 320px) and (max-width: 767px) {
  .popup__close {
    top: -36px;
    right: 0;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }
}

.popup__input {
  width: 100%;
  margin-bottom: 30px;
  padding: 0 0 10px 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}
