.popup__heading {
  margin: 0 0 48px 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .popup__heading {
    margin: 0 0 75px 0;
    font-size: 18px;
    line-height: 22px;
  }
}
