.profile__name {
  margin: 0;
  padding-bottom: 16px;
  color: #fff;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__name {
    padding-top: 26px;
    padding-bottom: 14px;
    padding-left: 18px;
    font-size: 27px;
    line-height: 32.68px;
    text-align: center;
  }
}
