.card__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/trash.svg);
  background-color: transparent;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: opacity linear 0.2s;
}

.card__trash:hover {
  opacity: 0.6;
}
